environs==9.3.2
fastapi==0.65.1
faust==1.10.4
google-cloud-pubsub==2.5.0
google-cloud-storage==1.42.0
pydantic==1.8.2
requests==2.25.1
urllib3==1.26.5
uvicorn==0.13.4
walrus==0.8.2
https://github.com/PADAS/das-clients/releases/download/v1.0.39/dasclient-1.0.39-py3-none-any.whl
https://github.com/PADAS/smart-integrate-sdk/releases/download/v1.1.6/cdip_connector-1.1.6-py3-none-any.whl
https://github.com/PADAS/smartconnect-client/releases/download/v1.1.7/smartconnect_client-1.1.7-py3-none-any.whl
